.peg-after {
  background-color: #eee;
  min-height: 16px;

  button {
    display: none;
  }

  &:hover {
    button {
      display: inline-block;
    }
  }
}

.peg {
  .value {
    color: #c00;
  }

  .total {
    text-decoration: underline;
  }

  .unknown {
    color: #990;
    &:before {
      content: '?';
    }
  }
}
