<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>peggie</title>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Bree+Serif" />
  <!-- build:css(./dist) /styles/main.css -->
  <link rel="stylesheet" type="text/css" href="/styles/main.css" />
  <!-- endbuild -->
  <base href="/" />
</head>
<body>
  <!-- app module -->
  <div class="app-container" ng-controller="AppController as c">
    <div class="app">
      <!-- header module -->
      <div class="header-container">
        <div class="header">
          <h1 class="title">peggie</h1>
        </div>
      </div>

      <!-- content module -->
      <div class="content-container">
        <div class="content">
          <pg-peg-form></pg-peg-form>
          <ul>
            <li ng-repeat="i in c.pegs">
              <div class="peg-before" ng-click="c.formFor($index)"></div>
              <pg-peg model="i"></pg-peg>
              <div class="peg-after" ng-click="c.formFor($index + 1)"></div>
            </li>
          </ul>
        </div>
      </div>

      <!-- footer module -->
      <div class="footer-container">
      </div>
  </div>

  <!-- loader module -->
  <div class="loader-container">
    <div class="loader" ng-class="{loading: !c.loaded}">
      loading...
    </div>
  </div>

  <!-- build:vendorjs /scripts/vendor.js -->
  <script src="../bower_components/moment/moment.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <!-- endbuild -->
  <!-- build:mainjs(./dist) /scripts/main.js -->
  <script src="/scripts/main.js"></script>
  <!-- endbuild -->
</body>
</html>
