<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>peggie</title>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Bree+Serif" />
  <!-- build:css(./dist) /styles/main.css -->
  <link rel="stylesheet" type="text/css" href="/styles/main.css" />
  <!-- endbuild -->
  <base href="/" />
</head>
<body>
  <!-- app module -->
  <div class="app-container" ng-controller="AppController as c">
    <div class="app">
      <!-- header module -->
      <div class="header-container">
        <div class="header">
          <h1 class="title">peggie</h1>
        </div>
      </div>

      <!-- content module -->
      <div class="content-container">
        <div class="content">
          <div class="peg-form-container" ng-class="{ 'has-form': c.pegIndex == 0 }">
            <button class="add-button add-peg-button" ng-if="c.pegIndex === -1" ng-click="c.formFor(0, true)">Add peg</button>
            <button class="add-button add-item-button" ng-if="c.pegIndex === -1" ng-click="c.formFor(0, false)">Add item</button>
            <form class="peg-form" ng-if="c.pegIndex === 0">
              <span class="index-container"><input name="index" ng-model="c.pegIndex" type="number" /></span>
              <span class="peg-container"><input name="peg" ng-model="c.peg.peg" type="checkbox" /></span>
              <span class="date-container"><input name="date" ng-model="c.peg.date" /></span>
              <span class="value-container"><input name="value" ng-model="c.peg.value" type="number" /></span>
              <span class="note-container"><input name="note" ng-model="c.peg.note" /></span>
              <span class="add-button-container"><button class="add-button" ng-class="{ 'add-peg-button': c.peg.peg, 'add-item-button': !c.peg.peg }" ng-click="c.click()"><span ng-bind="c.peg.peg ? 'peg' : 'item'"></span></button></span>
              <span class="clear-button-container"><button class="clear-button" ng-click="c.clear()">clear</button></span>
            </form>
          </div>

          <ul class="pegs">
            <li ng-class="{ 'peg-container': i.peg, 'item-container': !i.peg }" ng-repeat="i in c.pegs">
              <pg-peg model="i"></pg-peg>
              <div class="peg-form-container" ng-class="{ 'has-form': c.pegIndex == $index + 1 }">
                <button class="remove-button" ng-if="c.pegIndex === -1" ng-click="c.remove($index)">Remove peg/item</button>
                <button class="add-button add-peg-button" ng-if="c.pegIndex === -1" ng-click="c.formFor($index + 1, true)">Add peg</button>
                <button class="add-button add-item-button" ng-if="c.pegIndex === -1" ng-click="c.formFor($index + 1, false)">Add item</button>
                <form class="peg-form" ng-if="c.pegIndex == $index + 1">
                  <span class="index-container"><input name="index" ng-model="c.pegIndex" type="number" /></span>
                  <span class="peg-container"><input name="peg" ng-model="c.peg.peg" type="checkbox" /></span>
                  <span class="date-container"><input name="date" ng-model="c.peg.date" /></span>
                  <span class="value-container"><input name="value" ng-model="c.peg.value" type="number" /></span>
                  <span class="note-container"><input name="note" ng-model="c.peg.note" /></span>
                  <span class="add-button-container"><button class="add-button" ng-class="{ 'add-peg-button': c.peg.peg, 'add-item-button': !c.peg.peg }" ng-click="c.click()"><span ng-bind="c.peg.peg ? 'peg' : 'item'"></span></button></span>
                  <span class="clear-button-container"><button class="clear-button" ng-click="c.clear()">clear</button></span>
                </form>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <!-- footer module -->
      <div class="footer-container">
      </div>
  </div>

  <!-- loader module -->
  <div class="loader-container">
    <div class="loader" ng-class="{loading: !c.loaded}">
      loading...
    </div>
  </div>

  <!-- build:vendorjs /scripts/vendor.js -->
  <script src="../bower_components/moment/moment.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <!-- endbuild -->
  <!-- build:mainjs(./dist) /scripts/main.js -->
  <script src="/scripts/main.js"></script>
  <!-- endbuild -->
</body>
</html>
